In [6]:
import os
import pandas as pd
import unittest

In [4]:
# function to calculate median absolute deviation
def mad(x): 
    x_median = x.median(axis='columns', numeric_only=True)
    abs_x_median_diff = abs(x.sub(x_median, axis='rows'))
    return abs_x_median_diff.median(axis='columns', numeric_only=True)

In [13]:
mad(df_3)

0    2.0
1    0.0
2    1.0
3    1.0
4    5.0
5    3.0
dtype: float64

In [10]:
df_1 = pd.DataFrame([[3,5,10,20,15],
[2,1,1,1,1],
[2,2,3,5,5],
[2,1,0,0,0],
[10000,10,5,0,-5],
[-1,-2,-3,-4,-5]])

df_2 = pd.DataFrame([[1,2,10,2,15],
[1,1,4,3,1],
[2,3,3,4,5],
[2,1,0,0,0],
[100,0,5,0,-5],
[-1,-4,-3,-4,-5]])

df_3 = pd.DataFrame([[1,2,10,4,5],
[1,1,2,2,1],
[2,3,3,4,5],
[2,1,2,3,0],
[100,10,15,0,5],
[-1,-1,3,-4,5]])

In [6]:
"""Below, I'm just showing an example of how you might split this up into pieces
to make testing easier. I have not run this and I am not totally sure how your
function worked, so you will likely need to do some tweaking to get it to run.
I would recommend starting with a function that just calculates the MAD for a single
series (either row or column) and then once you have that working, you can expand
it to run on a whole dataframe.
"""

def mad(series): 
  """Function to calculate median absolute deviation for a Series
  Parameters:[change below to match your function's requirements]
  argument1 (int): Description of arg1

  Returns: [change below to match your function]
  int:Returning value
  """
  overall_med = series.median(numeric_only=True)
  abs_diff_vector = abs(series - overall_med)
  return abs_diff_vector.median(axis='columns', numeric_only=True)

In [7]:
def test_mad():
  assert mad([0, 0, 0, 0]) == 0

In [3]:
filename = os.path.join('C:/Users/opara', 'utilities/testdata.csv')
df = pd.read_csv(filename, header = 0)

df

       0  0.1  0.2  0.3  0.4
0      1    1    1    1    1
1      2    2    3    4    4
2      5    0    0    0    0
3  10000   10    5    0   -5
4     -1   -2   -3   -4   -5

In [15]:
# calculating the median of the data frame
df_median = df.median(axis='columns', numeric_only=True)
df_median

0    1.0
1    3.0
2    0.0
3    5.0
4   -3.0
dtype: float64

In [20]:
# subtract medians from data frame row by row
abs_df_median_diff = abs(df.sub(df_median, axis='rows'))
abs_df_median_diff

        0  0.1  0.2  0.3   0.4
0     0.0  0.0  0.0  0.0   0.0
1     1.0  1.0  0.0  1.0   1.0
2     5.0  0.0  0.0  0.0   0.0
3  9995.0  5.0  0.0  5.0  10.0
4     2.0  1.0  0.0  1.0   2.0

In [19]:
abs_df_median_diff.median(axis='columns', numeric_only=True)

0    0.0
1    1.0
2    0.0
3    5.0
4    1.0
dtype: float64