In [6]:
import os
import pandas as pd

In [16]:
# function to calculate median absolute deviation
def mad(x): 
    abs(x - x.median(axis='columns', numeric_only=True)).median(axis='columns', numeric_only=True)

In [9]:
filename = os.path.join(os.getcwd(), 'testdata.csv')
df = pd.read_csv(filename, header = 0)

df

       0  0.1  0.2  0.3  0.4
0      1    1    1    1    1
1      2    2    3    4    4
2      5    0    0    0    0
3  10000   10    5    0   -5
4     -1   -2   -3   -4   -5

In [15]:
df.median(axis='columns')

0    1.0
1    3.0
2    0.0
3    5.0
4   -3.0
dtype: float64

In [18]:
df - df.median(axis='columns', numeric_only=True)

    0  0.1  0.2  0.3  0.4   0   1   2   3   4
0 NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
1 NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
2 NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
3 NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN
4 NaN  NaN  NaN  NaN  NaN NaN NaN NaN NaN NaN